/* App.css */
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  background-color: transparent; /* Quitamos el color de fondo */
  color: white;
}

.content-container {
  display: flex;
  align-items: center;
}

.ship-list-container {
  margin-right: 40px;
}

.board-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px; /* Ajustamos el margen superior */
}

.app-title {
  font-size: 3rem;
  margin-bottom: 20px; /* Ajustamos el margen inferior */
  color: #61dafb;
}

.ship-list ul {
  padding: 0; /* Eliminamos el relleno del elemento de lista */
  list-style-type: none; /* Quitamos los marcadores de lista */
}

.ship-list li {
  margin-bottom: 10px; /* Ajustamos el margen inferior de cada elemento de lista */
}
